<div class="wrapper">
  <header>
    <h1><%= link_to image_tag('main-logo.fw.png', alt: 'Ujin photo') %>Ujin Photo</h1>

    <ul class="nav-page-list">
      <li>
        <ul id="nav-page1" class="nav-page display">
          <li><a href="#" onclick="linkTo('price')">ціни</a></li>
          <li><a href="#" onclick="linkTo('slider')">галерея</a></li>
          <li><a href="#" onclick="linkTo('conditions')">умови</a></li>
          <li><a href="#" onclick="linkTo('contact-information')">зв’язок</a></li>
        </ul>
      </li>
      <li>
        <ul id="nav-page2" class="nav-page no-display">
          <li><a href="#" onclick="linkTo('invitations')">запрошення</a></li>
          <li><a href="#" onclick="linkTo('packages')">пакети/коробки</a></li>
          <li><a href="#" onclick="linkTo('decoration')">декор</a></li>
          <li><a href="#" onclick="linkTo('contact-information')">зв’язок</a></li>
        </ul>
      </li>
      <li>
        <ul id="nav-page3" class="nav-page no-display">
          <li><a href="#" onclick="linkTo('polygraphy')">поліграфічна фотокнига</a></li>
          <li><a href="#" onclick="linkTo('classic')">класична фотокнига</a></li>
          <li><a href="#" onclick="linkTo('LayFlat')">layflat фотокнига</a></li>
          <li><a href="#" onclick="linkTo('contact-information')">зв’язок</a></li>
        </ul>
      </li>

    </ul>
    <ul class="nav">
      <li class="photo1 photo1-active">
        <!-- Фотозйомка -->
      </li>
      <li class="photo2">
        <!-- Поліграфія -->
      </li>
      <li class="photo3">
        <!-- Photobook -->
      </li>
    </ul>
    <div class="information">
      <ul>
        <li>Мінімальний пакет весільної фотозйомки 500 грн 3 години фотозйомки</li>
        <li>Виготовлення запрошень, розсаджувальних карток, подарункових пакетів, тощо...</li>
        <li>Виготовлення ексклюзивної <span class="upper">фотокниги</span> будь якого розміру</li>
      </ul>
    </div>
  </header>
  <section class="content">
    <ul>
      <li id="page1" class="page1 display">
        <!-- Перша сторінка -->

        <div class="subject-matter">
          <p>Кожній людині важливі спогади, і приємно коли є можливість відобразити їх! Відобразити в кращих форматах і
            якостях! Коли збираєшся зробити відважний крок у своєму житті, подумай про миті, в які тобі захочеться
            повернутися знову і знову.</p>
        </div>

        <div id="tabs" class="slider">
          <ul>
            <li><a href="#tabs-1">Love <br/>story</a></li>
            <li><a href="#tabs-2">Весілля</a></li>
            <li><a href="#tabs-3">Випускні</a></li>
            <li><a href="#tabs-4">Дитяча<br/>фотозйомка</a></li>
            <li><a href="#tabs-5">Дні<br/> народження</a></li>
            <li><a href="#tabs-6">Сімейна<br/>фотозйомка</a></li>
            <li><a href="#tabs-7">Індивідуальні<br/>фотосесії</a></li>
          </ul>
          <div id="tabs-1">
            <div id="ca-container-1" class="ca-container">

              <div class="ca-item">
                <%= image_tag('love-story/love-story-1.jpg', alt: 'love-story') %>
              </div>
              <div class="ca-item">
                <%= image_tag('love-story/love-story-2.jpg', alt: 'love-story') %>
              </div>
              <div class="ca-item">
                <%= image_tag('love-story/love-story-3.jpg', alt: 'love-story') %>
              </div>
              <div class="ca-item">
                <%= image_tag('love-story/love-story-4.jpg', alt: 'love-story') %>
              </div>
              <div class="ca-item">
                <%= image_tag('love-story/love-story-5.jpg', alt: 'love-story') %>
              </div>
              <div class="ca-item">
                <%= image_tag('love-story/love-story-6.jpg', alt: 'love-story') %>
              </div>
              <div class="ca-item">
                <%= image_tag('love-story/love-story-7.JPG', alt: 'love-story') %>
              </div>
              <div class="ca-item">
                <%= image_tag('love-story/love-story-8.JPG', alt: 'love-story') %>
              </div>
              <div class="ca-item">
                <%= image_tag('love-story/love-story-9.JPG', alt: 'love-story') %>
              </div>
              <div class="ca-item">
                <%= image_tag('love-story/love-story-10.jpg', alt: 'love-story') %>
              </div>

            </div>
          </div>
          <div id="tabs-2">
            <div id="ca-container-2" class="ca-container">

              <div class="ca-item">
                <%= image_tag('wedding/wedding-1.jpg', alt: 'wedding') %>
              </div>
              <div class="ca-item">
                <%= image_tag('wedding/wedding-2.jpg', alt: 'wedding') %>
              </div>
              <div class="ca-item">
                <%= image_tag('wedding/wedding-3.jpg', alt: 'wedding') %>
              </div>
              <div class="ca-item">
                <%= image_tag('wedding/wedding-4.jpg', alt: 'wedding') %>
              </div>
              <div class="ca-item">
                <%= image_tag('wedding/wedding-5.jpg', alt: 'wedding') %>
              </div>
              <div class="ca-item">
                <%= image_tag('wedding/wedding-6.jpg', alt: 'wedding') %>
              </div>
              <div class="ca-item">
                <%= image_tag('wedding/wedding-7.jpg', alt: 'wedding') %>
              </div>
              <div class="ca-item">
                <%= image_tag('wedding/wedding-8.jpg', alt: 'wedding') %>
              </div>
              <div class="ca-item">
                <%= image_tag('wedding/wedding-9.jpg', alt: 'wedding') %>
              </div>
              <div class="ca-item">
                <%= image_tag('wedding/wedding-10.jpg', alt: 'wedding') %>
              </div>
              <div class="ca-item">
                <%= image_tag('wedding/wedding-11.jpg', alt: 'wedding') %>
              </div>
              <div class="ca-item">
                <%= image_tag('wedding/wedding-12.jpg', alt: 'wedding') %>
              </div>
              <div class="ca-item">
                <%= image_tag('wedding/wedding-13.jpg', alt: 'wedding') %>
              </div>
              <div class="ca-item">
                <%= image_tag('wedding/wedding-14.jpg', alt: 'wedding') %>
              </div>
              <div class="ca-item">
                <%= image_tag('wedding/wedding-15.jpg', alt: 'wedding') %>
              </div>
              <div class="ca-item">
                <%= image_tag('wedding/wedding-16.jpg', alt: 'wedding') %>
              </div>
              <div class="ca-item">
                <%= image_tag('wedding/wedding-17.jpg', alt: 'wedding') %>
              </div>
              <div class="ca-item">
                <%= image_tag('wedding/wedding-18.jpg', alt: 'wedding') %>
              </div>
              <div class="ca-item">
                <%= image_tag('wedding/wedding-19.jpg', alt: 'wedding') %>
              </div>
              <div class="ca-item">
                <%= image_tag('wedding/wedding-20.jpg', alt: 'wedding') %>
              </div>
              <div class="ca-item">
                <%= image_tag('wedding/wedding-21.jpg', alt: 'wedding') %>
              </div>
              <div class="ca-item">
                <%= image_tag('wedding/wedding-22.jpg', alt: 'wedding') %>
              </div>
              <div class="ca-item">
                <%= image_tag('wedding/wedding-23.jpg', alt: 'wedding') %>
              </div>
              <div class="ca-item">
                <%= image_tag('wedding/wedding-24.jpg', alt: 'wedding') %>
              </div>
              <div class="ca-item">
                <%= image_tag('wedding/wedding-25.jpg', alt: 'wedding') %>
              </div>
              <div class="ca-item">
                <%= image_tag('wedding/wedding-26.jpg', alt: 'wedding') %>
              </div>
              <div class="ca-item">
                <%= image_tag('wedding/wedding-27.jpg', alt: 'wedding') %>
              </div>
              <div class="ca-item">
                <%= image_tag('wedding/wedding-28.jpg', alt: 'wedding') %>
              </div>
              <div class="ca-item">
                <%= image_tag('wedding/wedding-29.jpg', alt: 'wedding') %>
              </div>
              <div class="ca-item">
                <%= image_tag('wedding/wedding-30.jpg', alt: 'wedding') %>
              </div>
              <div class="ca-item">
                <%= image_tag('wedding/wedding-31.jpg', alt: 'wedding') %>
              </div>
              <div class="ca-item">
                <%= image_tag('wedding/wedding-32.jpg', alt: 'wedding') %>
              </div>
              <div class="ca-item">
                <%= image_tag('wedding/wedding-33.jpg', alt: 'wedding') %>
              </div>
              <div class="ca-item">
                <%= image_tag('wedding/wedding-34.jpg', alt: 'wedding') %>
              </div>

            </div>
          </div>
          <div id="tabs-3">
            <div id="ca-container-3" class="ca-container">

              <div class="ca-item">
                <%= image_tag('outlet/outlet-1.JPG', alt: 'outlet') %>
              </div>
              <div class="ca-item">
                <%= image_tag('outlet/outlet-2.JPG', alt: 'outlet') %>
              </div>
              <div class="ca-item">
                <%= image_tag('outlet/outlet-3.JPG', alt: 'outlet') %>
              </div>
              <div class="ca-item">
                <%= image_tag('outlet/outlet-4.JPG', alt: 'outlet') %>
              </div>
              <div class="ca-item">
                <%= image_tag('outlet/outlet-5.JPG', alt: 'outlet') %>
              </div>

            </div>
          </div>
          <div id="tabs-4">
            <div id="ca-container-4" class="ca-container">

              <div class="ca-item">
                <%= image_tag('kids/kids-1.jpg', alt: 'kids') %>
              </div>
              <div class="ca-item">
                <%= image_tag('kids/kids-2.jpg', alt: 'kids') %>
              </div>
              <div class="ca-item">
                <%= image_tag('kids/kids-3.jpg', alt: 'kids') %>
              </div>
              <div class="ca-item">
                <%= image_tag('kids/kids-4.jpg', alt: 'kids') %>
              </div>
              <div class="ca-item">
                <%= image_tag('kids/kids-5.jpg', alt: 'kids') %>
              </div>
              <div class="ca-item">
                <%= image_tag('kids/kids-6.jpg', alt: 'kids') %>
              </div>
              <div class="ca-item">
                <%= image_tag('kids/kids-7.jpg', alt: 'kids') %>
              </div>
              <div class="ca-item">
                <%= image_tag('kids/kids-8.jpg', alt: 'kids') %>
              </div>

            </div>
          </div>
          <div id="tabs-5">
            <div id="ca-container-5" class="ca-container">

              <div class="ca-item">
                <%= image_tag('birthdays/birthday-1.JPG', alt: 'birthday') %>
              </div>
              <div class="ca-item">
                <%= image_tag('birthdays/birthday-2.JPG', alt: 'birthday') %>
              </div>
              <div class="ca-item">
                <%= image_tag('birthdays/birthday-3.JPG', alt: 'birthday') %>
              </div>
              <div class="ca-item">
                <%= image_tag('birthdays/birthday-4.JPG', alt: 'birthday') %>
              </div>
              <div class="ca-item">
                <%= image_tag('birthdays/birthday-5.JPG', alt: 'birthday') %>
              </div>

            </div>
          </div>
          <div id="tabs-6">
            <div id="ca-container-6" class="ca-container">

              <div class="ca-item">
                <%= image_tag('family/family-1.jpg', alt: 'family') %>
              </div>
              <div class="ca-item">
                <%= image_tag('family/family-2.jpg', alt: 'family') %>
              </div>
              <div class="ca-item">
                <%= image_tag('family/family-3.jpg', alt: 'family') %>
              </div>
              <div class="ca-item">
                <%= image_tag('family/family-4.jpg', alt: 'family') %>
              </div>
              <div class="ca-item">
                <%= image_tag('family/family-5.jpg', alt: 'family') %>
              </div>
              <div class="ca-item">
                <%= image_tag('family/family-6.jpg', alt: 'family') %>
              </div>
              <div class="ca-item">
                <%= image_tag('family/family-7.jpg', alt: 'family') %>
              </div>

            </div>
          </div>
          <div id="tabs-7">
            <div id="ca-container-7" class="ca-container">

              <div class="ca-item">
                <%= image_tag('individuals/individual-1.jpg', alt: 'individual') %>
              </div>
              <div class="ca-item">
                <%= image_tag('individuals/individual-2.jpg', alt: 'individual') %>
              </div>
              <div class="ca-item">
                <%= image_tag('individuals/individual-3.jpg', alt: 'individual') %>
              </div>
              <div class="ca-item">
                <%= image_tag('individuals/individual-4.jpg', alt: 'individual') %>
              </div>
              <div class="ca-item">
                <%= image_tag('individuals/individual-5.jpg', alt: 'individual') %>
              </div>
              <div class="ca-item">
                <%= image_tag('individuals/individual-6.jpg', alt: 'individual') %>
              </div>
              <div class="ca-item">
                <%= image_tag('individuals/individual-7.JPG', alt: 'individual') %>
              </div>
              <div class="ca-item">
                <%= image_tag('individuals/individual-8.JPG', alt: 'individual') %>
              </div>
              <div class="ca-item">
                <%= image_tag('individuals/individual-9.JPG', alt: 'individual') %>
              </div>
              <div class="ca-item">
                <%= image_tag('individuals/individual-10.JPG', alt: 'individual') %>
              </div>

            </div>
          </div>
        </div>
        <div class="price">
          <h3>Можливі пакети на весільну фотозйомку</h3>
          <ul class="price-list">
            <li>
              <h4>Економ</h4>
              <ul class="description">
                <li>3 години фотозйомки</li>
                <li>Всі фото проходять корекцію по кольору</li>
                <li>Всі фото записуються на оригінальний диск</li>
                <li>Вартість 500 грн</li>
              </ul>
            </li>
            <li>
              <h4>Стандарт</h4>
              <ul class="description">
                <li>8 годин фотозйомки</li>
                <li>Всі фото проходять корекцію по кольору</li>
                <li>Близько 30% фотографій індивідуально обробляються</li>
                <li>Отримуєте 30 друкованих фотографій форматом 10х15</li>
                <li>Всі фото записуються на оригінальний диск</li>
                <li>Вартість 2000 грн.</li>
              </ul>
            </li>
            <li>
              <h4>Повний</h4>
              <ul class="description">
                <li>Повний день приблизно 18 годин фотозйомки</li>
                <li>Всі фото проходять корекцію по кольору</li>
                <li>Близько 50% фотографій індивідуально обробляються</li>
                <li>Отримуєте 100 друкованих фотографій форматом 10х15</li>
                <li>Всі фото записуються на подарунковий USB носій</li>
                <li>Вартість 5000 грн.</li>
              </ul>
            </li>
          </ul>
          <div class="more-information">
            <p>Кожна додаткова година фотозйомки коштує 150 грн.</p>

            <p>Кожна додаткова година фотозйомки бенкету коштує 250 грн.</p>
          </div>
        </div>
        <div class="conditions">
          <ul>
            <li>Замовивши фотозйомку ви оплачуєте аванс у розмірі 200грн</li>
            <li>Мінімальний термін замовлення - за тиждень</li>
            <li>Всі фотографії віддаються фотографом не раніше ніж через місяць</li>
            <li>При фотосесії не повинно бути інших “фотографів” (людей з фото-апаратами, планшетами, тощо),
              відволікаючих вашу увагу.
            </li>
            <li>Повна оплата проходить до початку бенкету</li>
            <li>План фотозйомки ви узгоджуєте з самим фотографом</li>
            <li>Всі отримані фотографії можуть бути використані фотографом у своему портфоліо в інтернеті. При
              замовленні конфіденційної фотозйомки її вартість збільшується на 50% (Про такий вид зйомки необхідно
              попередити до фотосесії!)
            </li>
          </ul>
        </div>
      </li>
      <li id="page2" class="page2 no-display">
        <!-- Друга сторінка -->
        <div class="indent">
        </div>
        <h2 class="invitations upper">запрошення</h2>
        <ul class="invitation">
          <li><%= image_tag('evro.fw.png', alt: 'evro') %><p><span class="upper">євро</span> 99х210мм</p></li>
          <li><%= image_tag('mini.fw.png', alt: 'mini') %><p><span class="upper">міні</span> 99х99мм</p></li>
          <li><%= image_tag('standart.fw.png', alt: 'standart') %><p><span class="upper">стандарт</span> 105х148мм (A5)</p></li>
          <li><%= image_tag('card-single-double.png', alt: 'card-single-double') %><p><span class="upper">подвійне євро</span> 99х210 (A5)</p></li>
          <li><%= image_tag('double-mini.fw.png', alt: 'double-mini') %><p><span class="upper">подвійне міні</span> 99х99мм (A5)</p></li>
        </ul>
        <ul class="big-list-photo">
          <li>
            <%= link_to image_path('couple-bikes.JPG'), data: {lightbox: :ZAP1_FULSIZE} do %>
                <%= image_tag('color-list-photo-bikes.png', effect: :grayscale, class: 'photo_bike') %>
            <% end %>
          </li>
          <li>
            <%= link_to image_path('couple-flowers.JPG'), data: {lightbox: :ZAP2_FULSIZE} do %>
                <%= image_tag('color-list-photo-single.png', effect: :grayscale, class: 'photo_single') %>
            <% end %>
          </li>
          <li>
            <%= link_to image_path('couple-butterfly.JPG'), data: {lightbox: :ZAP3_FULSIZE} do %>
                <%= image_tag('color-list-photo-butterfly.png', effect: :grayscale, class: 'photo_butterfly') %>
            <% end %>
          </li>
          <li>
            <%= link_to image_path('couple-passport.JPG'), data: {lightbox: :ZAP4_FULSIZE} do %>
                <%= image_tag('color-list-photo-passport.png', effect: :grayscale, class: 'photo_passport') %>
            <% end %>
          </li>
          <li>
            <%= link_to image_path('couple-multi-cards.JPG'), data: {lightbox: :ZAP5_FULSIZE} do %>
                <%= image_tag('color-list-photo-cards.png', effect: :grayscale, class: 'photo_cards') %>
            <% end %>
          </li>
        </ul>
        <div class="invitation-thems">
          <p>Також є можливість виготовити ексклюзивні запрошення будь якого розміру та форми</p>

          <p>Ціна залежить від кількості запрошень і матеріалу</p>
        </div>

        <ul class="message">
          <li class="big-message">
            <a href="#" onclick="linkTo('contact-information')">
              <p>Запропонуйте мені щось цікаве</p>

              <p class="upper">передзвоніть мені</p>
            </a>
          </li>
          <li class="small-message">
            <a href="#" onclick="linkTo('question')"><span></span></a>
          </li>
        </ul>
        <h2 class="packages upper">подарунки для гостей</h2>

        <div class="two-big-photo">
          <%= image_tag('wedding-photo-first.png', alt: '') %>
          <%= image_tag('wedding-photo-second.png', alt: '') %>
        </div>
        <p class="commentary">Дуже вдалий спосіб висловити подяку гостям за їх присутності на Вашому весіллі</p>

        <div class="table">
          <table>
            <tr>
              <td class="name"><p>* Пакет для печива для гостей, білий/коричневий крафт-папір 150*140*70мм</p></td>
              <td class="quantity"><p>100шт</p><span>в упаковці</span></td>
              <td class="cost"><p>9,84 грн/шт</p></td>
            </tr>
            <tr>
              <td class="name"><p>* Ларець для печива, Картон макулатурний, 200 170*85*105</p></td>
              <td class="quantity"><p>100шт <span>в упаковці</span></p></td>
              <td class="cost"><p>12,80 грн/шт</p></td>
            </tr>
            <tr>
              <td class="name"><p>* Бомбон’єрка для цукерок, Дизайнерський картон, 250 45*50*45</p></td>
              <td class="quantity"><p>100шт <span>в упаковці</span></p></td>
              <td class="cost"><p>15,37 грн/шт</p></td>
            </tr>
          </table>
          <p class="commentary2">(При замовленні більш ніж 100 одиниць, ціна зменшується)</p>
        </div>
        <ul class="message">
          <li class="big-message small-text">
            <a href="#" onclick="linkTo('contact-information')">
              <p>Хочу замовити</p>
            </a>
          </li>
          <li class="small-message">
            <a href="#" onclick="linkTo('question')"><span></span></a>
          </li>
        </ul>


        <h2 class="decoration upper">фоторамки від art well</h2>

        <div class="photo-frame">
          <%= image_tag('photo-family.png', alt: 'photo family') %>
          <%= image_tag('photo-love.png', alt: 'photo love') %>
          <%= image_tag('photo-love-multi.png', alt: 'photo love multi') %>
          <%= image_tag('photo-mother.png', alt: 'photo mother') %>
          <%= image_tag('photo-basic.png', alt: 'photo basic') %>
        </div>
        <div class="commentary3">
          <p>Фоторамки з дерева, формат фотографій 10х15</p>
        </div>
        <span class="small-message" onclick="linkTo('question')"></span>
        <ul class="message">
          <li class="big-message small-text">
            <a href="#" onclick="linkTo('contact-information')">
              <p>Хочу замовити</p>
            </a>
          </li>
          <li class="small-message">
            <a href="#" onclick="linkTo('question')"><span></span></a>
          </li>
        </ul>
      </li>
      <!-- Третя сторінка -->
      <li id="page3" class="page3 no-display">
        <ul class="book-list">
          <li>
            <h2 class="polygraphy upper">поліграфічна фотокнига</h2>

            <div class="photo-gallery-wrapp">
              <%= image_tag('photobook-main-inside.jpg', alt: 'photobook main inside') %>
              <ul>
                <li><%= image_tag('photobook-main-inside.jpg', alt: 'photobook main inside') %></li>
                <li><%= image_tag('photobook-main-outside.jpg', alt: 'photobook main outside') %></li>
                <li><%= image_tag('photobook-main-next-inside.jpg', alt: 'photobook main next inside') %></li>
              </ul>
            </div>
            <div class="info-wrapp">
              <dl>
                <dt>Поліграфічна фотокнига, розміром:</dt>
                <dd>30x20</dd>
                <dt>Обкладинка:</dt>
                <dd>Тверда індивідуальна</dd>
                <dt>Кількість сторінок:</dt>
                <dd>12</dd>
                <dt class="upper">ціна:</dt>
                <dd>360 грн</dd>
              </dl>
              <p class="special-info">Додатковий розворот +20 грн</p>

              <div class="info-size">
                <p>Можливі розміри: 15х20, 20х15, 20х20, 20х30, 30х20, 30х30</p>
              </div>
            </div>
          </li>
          <li>
            <ul class="message call-me">
              <li class="big-message small-text call-text">
                <a href="#" onclick="linkTo('contact-information')">
                  <p>Передзвоніть мені</p>
                </a>
              </li>
              <li class="small-message">
                <a href="#" onclick="linkTo('question')"><span></span></a>
              </li>
            </ul>
          </li>
          <li>
            <h2 class="classic upper">класична фотокнига</h2>

            <div class="photo-gallery-wrapp">
              <%= image_tag('photobook-classic-inside.jpg', alt: 'photobook classic inside') %>
              <ul>
                <li><%= image_tag('photobook-classic-inside.jpg', alt: 'photobook classic inside') %></li>
                <li><%= image_tag('photobook-classic-corner-side.jpg', alt: 'photobook classic corner side') %></li>
                <li><%= image_tag('layflat-book-inside.jpg', alt: 'layflat book inside') %></li>
              </ul>
            </div>
            <div class="info-wrapp">
              <dl>
                <dt>Поліграфічна фотокнига, розміром:</dt>
                <dd>30x30</dd>
                <dt>Обкладинка:</dt>
                <dd>Шкірозамінник з фотографіею</dd>
                <dt>Кількість сторінок:</dt>
                <dd>10</dd>
                <dt class="upper">ціна:</dt>
                <dd>2060 грн</dd>
              </dl>
              <p class="special-info">Додатковий розворот +90 грн</p>

              <div class="info-size">
                <p>Можливі розміри: 18х25, 20х20, 30х20, 30х30</p>
              </div>
            </div>
          </li>
          <li>
            <ul class="message call-me">
              <li class="big-message small-text call-text">
                <a href="#" onclick="linkTo('contact-information')">
                  <p>Передзвоніть мені</p>
                </a>
              </li>
              <li class="small-message">
                <a href="#" onclick="linkTo('question')"><span></span></a>
              </li>
            </ul>
          </li>
          <li>
            <h2 class="LayFlat">LayFlat <span class="upper">фотокнига</span></h2>

            <div class="photo-gallery-wrapp">
              <%= image_tag('layflat-book-central.jpg', alt: 'layflat book central') %>
              <ul>
                <li><%= image_tag('layflat-book-inside.jpg', alt: 'layflat book inside') %></li>
                <li><%= image_tag('layflat-book-outside.jpg', alt: 'layflat book outside') %></li>
                <li><%= image_tag('layflat-book-central.jpg', alt: 'layflat book central') %></li>
              </ul>
            </div>
            <div class="info-wrapp">
              <dl>
                <dt>Класична фотокнига, розміром:</dt>
                <dd>30x30</dd>
                <dt>Обкладинка:</dt>
                <dd>Тверда</dd>
                <dt>Кількість сторінок:</dt>
                <dd>16</dd>
                <dt class="upper">ціна:</dt>
                <dd>600 грн</dd>
              </dl>
              <p class="special-info">Додатковий розворот +50 грн</p>

              <div class="info-size">
                <p>Можливі розміри: 20х30, 30х30</p>
              </div>
            </div>
          </li>
          <li>
            <ul class="message call-me">
              <li class="big-message small-text call-text">
                <a href="#" onclick="linkTo('contact-information')">
                  <p>Передзвоніть мені</p>
                </a>
              </li>
              <li class="small-message">
                <a href="#" onclick="linkTo('question')"><span></span></a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>

    <div class="contact-information">
      <%= form_tag('/home', method: :post) do %>
        <div class="label-phone upper"><%= label_tag(:phone_number, 'введіть ваш номер телефону') %></div>
        <div class="input-phone"><%= text_field_tag :phone_number, nil, placeholder: '(0XX) XXX-XX-XX', required: true %></div>
        <div class="action"><%= submit_tag 'передзвоніть мені', class: 'upper' %></div>
      <% end %>
      <p>фотограф Євгеній Ткаченко</p>

      <p>телефон: 063 678 13 59</p>
      <ul class="social">
        <li>
          <%= link_to image_tag('facebook.fw.png', alt: 'facebook logo'), 'https://www.facebook.com/groups/UjinPhoto/', target: '_blank' %>
        </li>
        <li><%= image_tag('logo.fw.png', alt: 'slider-photo') %></li>
        <li>
          <%= link_to image_tag('vkontakte-logo.fw.png', alt: 'vkontakte logo'), 'https://vk.com/ujinphoto', target: '_blank' %>
        </li>
      </ul>
    </div>
    <div class="question">
      <%= form_tag('/home', method: :post) do %>
        <div class="label-text upper"><%= label_tag(:input_text, 'задати питання:') %></div>
        <div class="input-text"><%= text_area_tag :textarea %></div>
        <%= submit_tag 'надіслати', class: 'upper'%>
        <%= text_field_tag :custom_number, nil, placeholder: 'Введіть ваш e-mail або номер телефону', size: '30', required: true %>
      <% end %>
    </div>

  </section>
  <footer>
    <p>Сделано командой <a href="#">Projectico</a></p>
  </footer>
</div>

<%= javascript_include_tag 'app' %>